In [839]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [840]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
230,tt2281587,50000000,80383113,Muppets Most Wanted,Ricky Gervais|Ty Burrell|Tina Fey|Steve Whitmi...,James Bobin,Taking the world by farce,"While on a grand world tour, The Muppets find ...",112,Comedy|Adventure|Crime|Family,Buena Vista|Disney,3/20/2014,6.2,2014
627,tt0914798,12500000,20416563,The Boy in the Striped Pyjamas,Vera Farmiga|David Thewlis|Rupert Friend|David...,Mark Herman,"Lines may divide us, but hope will unite us.",When his family moves from their home in Berli...,94,War|Drama,Miramax Films|BBC Films|Heyday Films,5/7/2008,7.6,2008
232,tt1043726,70000000,61279452,The Legend of Hercules,Kellan Lutz|Liam McIntyre|Gaia Weiss|Scott Adk...,Renny Harlin,Every Man Has a Destiny,"In Ancient Greece 1200 B.C., a queen succumbs ...",99,Action|Adventure,Millennium Films,1/10/2014,4.4,2014
241,tt0834001,35000000,91327197,Underworld: Rise of the Lycans,Bill Nighy|Michael Sheen|Rhona Mitra|Shane Bro...,Patrick Tatopoulos,Every war has a beginning.,"A prequel to the first two Underworld films, t...",92,Fantasy|Action|Adventure|Science Fiction|Thriller,Lakeshore Entertainment|Screen Gems|Sketch Fil...,1/22/2009,6.2,2009
806,tt1438176,17000000,24922237,Fright Night,Anton Yelchin|Colin Farrell|Toni Collette|Chri...,Craig Gillespie,You can't run from evil when it lives next door.,A teenager suspects his new neighbour is a vam...,106,Horror|Comedy,Touchstone Pictures,8/18/2011,6.1,2011

In [841]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [842]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format


data['profit'] = data.revenue - data.budget # Вычисление profit и добавление его к data

data['genres'] = data['genres'].apply(lambda x:x.split('|')) # Переделаем элеметы в столбце genres в списки
data['director'] = data['director'].apply(lambda x:x.split('|')) # Режиссеров тоже распилим
data['cast'] = data['cast'].apply(lambda x:x.split('|')) # ... и актеров
data['release_date']=data['release_date'].apply(lambda x:x.split('/')) # дату выхода представим списком отдельных чисел

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [843]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
# +

In [844]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [845]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [846]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [847]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [848]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [849]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [850]:
answers['4'] = '2. 110'
# +

In [851]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [852]:
answers['5'] = '1. 107'
# +

In [853]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [854]:
answers['6'] = '5. Avatar (tt0499549)'
# +

In [855]:
# лучше код получения столбца profit вынести в Предобработку что в начале

# готово!

data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [856]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# +

In [857]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [858]:
answers['8'] = '1. 1478'
# +

In [859]:
len(data[data.profit>0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [860]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

In [861]:
y2k8 = data[data.release_year == 2008] 
y2k8[y2k8.revenue == y2k8.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [862]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

In [863]:
y2012_2014 = data[(data.release_year >= 2012) & (data.release_year <= 2014)] 
y2012_2014[y2012_2014.profit == y2012_2014.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [864]:
answers['11'] = '3. Drama'

In [865]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

item_dict = {}
def count_lists(list):
    for i in list:
        if i in item_dict:
            item_dict[i] += 1
        else:
            item_dict[i] = 1
    return item_dict
data['genres'].apply(count_lists)
genres_sum = pd.Series(item_dict).sort_values(ascending=False)
print(genres_sum.index[0])

Drama

ВАРИАНТ 2

In [866]:
data_exp_gen = data.explode('genres')
data_exp_gen.genres.value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [867]:
answers['12'] = '1. Drama'

In [868]:
data_exp_gen = data.explode('genres')
data_exp_gen[data_exp_gen.profit>0].genres.value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [869]:
answers['13'] = '5. Peter Jackson'

In [870]:
data_exp_dir = data.explode('director')
data_exp_dir.groupby(['director'])['revenue'].sum().sort_values(ascending = False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [871]:
answers['14'] = '3. Robert Rodriguez'

In [872]:
data_exp_dir = data.explode('director')
data_exp_gen = data_exp_dir.explode('genres')
data_exp_gen[data_exp_gen.genres == 'Action'].director.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [873]:
answers['15'] = '3. Chris Hemsworth'

In [874]:
data_exp_cast = data.explode('cast')
cast2012 = data_exp_cast[data_exp_cast.release_year == 2012]
cast2012.groupby(['cast'])['revenue'].sum().sort_values(ascending = False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [875]:
answers['16'] = '3. Matt Damon'

In [876]:
data_exp_cast = data.explode('cast')
data_exp_cast[data_exp_cast.budget > data_exp_cast.budget.mean()].cast.value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [877]:
answers['17'] = '2. Action'

In [878]:
data_exp_gen = data.explode('genres')
cast_exp = data_exp_gen.explode('cast')
cast_exp[cast_exp.cast == 'Nicolas Cage'].genres.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [879]:
answers['18'] = '1.  K-19: The Widowmaker (tt0267626)'

In [880]:
data_PP = data[data.production_companies.str.contains('Paramount Pictures')]
data_18 = data_PP.sort_values('profit')
data_18.head(1).original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [881]:
answers['19'] = '5. 2015'

In [882]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [883]:
answers['20'] = '1. 2014'

In [884]:
data_WB = data[data.production_companies.str.contains('Warner Bros')]
data_WB.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [885]:
answers['21'] = '4. Сентябрь'

In [886]:
data_month=data['release_date'].apply(lambda x: x[0])
data_month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [887]:
answers['22'] = '2. 450'

In [888]:
data_month=data['release_date'].apply(lambda x: x[0])
movies = data_month.value_counts()
summer_movies = movies['6'] + movies['7'] + movies['8']
print(summer_movies)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [889]:
answers['23'] = '5. Peter Jackson'

In [890]:
data23 = pd.read_csv('movie_bd_v5.csv')
data23['director'] = data23['director'].apply(lambda x:x.split('|'))
data23.release_date = data23.release_date.apply(lambda x: x.split('/'))
data23['month']=data['release_date'].apply(lambda x: x[0])
pivot = data23.loc[data23['month'].isin(['12','1','2'])]
pivot['director'].value_counts()

[Peter Jackson]                       7
[Clint Eastwood]                      6
[Steven Soderbergh]                   6
[Shawn Levy]                          4
[Nancy Meyers]                        4
                                     ..
[Paul Tibbitt]                        1
[Florian Henckel von Donnersmarck]    1
[Niki Caro]                           1
[Mikael HÃ¥fstrÃ¶m]                   1
[Guy Ferland]                         1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [891]:
answers['24'] = '5. Four By Two Productions'

In [892]:
data24=pd.read_csv('movie_bd_v5.csv')
data24['name_length'] = data24.original_title.apply(lambda x: len(x))
data24['production_companies'] = data24.production_companies.str.split("|")
data_exp_comp = data24.explode('production_companies')
data_exp_comp.groupby('production_companies').name_length.mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [893]:
answers['25'] = '3. Midnight Picture Show'

In [894]:
data25=pd.read_csv('movie_bd_v5.csv')
data25['production_companies']=data25['production_companies'].apply(lambda x:x.split('|'))
data_prod25=data25.explode('production_companies')
data_prod25['overview_length']=data_prod25['overview'].str.split(' ').apply(lambda x: len(x))
data_prod25.groupby('production_companies').overview_length.mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [895]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [896]:
data.sort_values(by='vote_average').tail(int(data.original_title.count()/100)).original_title

155                          The Theory of Everything
863             The Lord of the Rings: The Two Towers
1688                              There Will Be Blood
283                                        Mr. Nobody
1191                                 12 Years a Slave
872                                       The Pianist
128                                         Gone Girl
1800                                          Memento
119                           Guardians of the Galaxy
370                                         Inception
1183                          The Wolf of Wall Street
138                          The Grand Budapest Hotel
1081    The Lord of the Rings: The Return of the King
34                                               Room
118                                      Interstellar
9                                          Inside Out
125                                The Imitation Game
599                                   The Dark Knight
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [897]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [898]:
data27=pd.read_csv('movie_bd_v5.csv')
data27['cast'] = data27['cast'].str.split('|')
data_p = data27['cast'].reset_index()
data_p['pairs'] = data_p['cast'].apply(lambda s: list(combinations(s, 2)))
data_p = data_p.explode('pairs').reset_index()
Counter(data_p['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

Submission

In [899]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1.  K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [900]:
# и убедиться что ни чего не пропустил)
len(answers)

27